@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mali:wght@900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: 'Poppins', sans-serif;
    transition: 0.5s;
}
body {
    background-image: url("background2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    font-size: 20px;
}
.box {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    width: 50%;
    margin: auto;
    background-color: white;
    margin-top: 40px;
    padding: 50px;
    margin-bottom: 40px;
    filter: brightness(0.95);
    border-radius: 10px;
}
.profile{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    margin-bottom: 30px;
}
.profile-picture{
    width:220px;
    height: 220px;
    border-radius: 50%;
    box-shadow: 10px 10px 40px grey;
}
.name{
    font-size: 40px;
    font-weight: bold;
    color: #05bcff;
    font-family: 'Mali', cursive;
}
.profile li{
    list-style: none;
    margin-top: 5px;
    font-size: 14px;
}
.address-icon {
    width: 16px;
    height: 16px;
    background-color: black;
    margin-right: 10px;
    padding: 20px;
    vertical-align: middle;
    border-radius: 50%;
}
.about span, .education span, .skills span, .hobby span{
    font-size: 30px;
    font-weight:bold;
    text-align: left;
    color: #05bcff;
}
p{
    text-align: left;
}
.textbox{
    display: flex;
    flex-direction: column;
    height: fit-content;
}
.about, .education, .skills, .hobby{
    margin-block: 20px;
}
hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}
.education ul{
    margin-left: 30px;
}
.float{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.hobby ul{
    margin-left: 30px;
}
@media only screen and (max-width: 1750px) and (min-width:391px) {
    .box {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        width: 80%;
        margin: auto;
        background-color: white;
        margin-top: 10px;
        padding: 20px;
        margin-bottom: 40px;
        filter: brightness(0.95);
        border-radius: 10px;
    }
    .profile{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
    }
    .profile-picture{
        width:150px;
        height: 150px;
        border-radius: 50%;
        box-shadow: 10px 10px 40px grey;
        margin-block: 20px;
    }
    .name{
        font-size: 40px;
        font-weight: bold;
    }
    .me {
        margin-block: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .profile li{
        list-style: none;
        margin-top: 5px;
    }
    .address-icon {
        width: 10px;
        height: 10px;
        background-color: black;
        margin-right: 10px;
        padding: 10px;
        vertical-align: middle;
        border-radius: 50%;
    }
    p{
        text-align: left;
    }
    .about span, .education span, .skills span, .hobby span{
        font-size: 30px;
        font-weight: bold;
    }
    .textbox{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        height: fit-content;
    }
    .about, .education, .skills, .hobby{
        margin-block: 20px;
    }
    hr {
        border: 0;
        height: 1px;
        background: #333;
        background-image: linear-gradient(to right, #ccc, #333, #ccc);
        width: 100%;
    }
    .education ul{
        margin-left: 30px;
    }
    .float{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .hobby ul{
        margin-left: 30px;
    }
    .skills ul{
        margin-left: 30px;
    }
  }
  @media only screen and (max-width: 390px) {
    .box {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        width: 80%;
        margin: auto;
        background-color: white;
        margin-top: 10px;
        padding: 20px;
        margin-bottom: 40px;
        filter: brightness(0.95);
        border-radius: 10px;
    }
    .profile{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
    }
    .profile-picture{
        width:150px;
        height: 150px;
        border-radius: 50%;
        box-shadow: 10px 10px 40px grey;
        margin-block: 20px;
    }
    .name{
        font-size: 30px;
        font-weight: bold;
    }
    .me {
        margin-block: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .profile li{
        list-style: none;
        margin-top: 5px;
        font-size: 15px;
    }
    .address-icon {
        width: 10px;
        height: 10px;
        background-color: black;
        margin-right: 10px;
        padding: 10px;
        vertical-align: middle;
        border-radius: 50%;
    }
    p{
        text-align: left;
    }
    .about span, .education span, .skills span, .hobby span{
        font-size: 30px;
        font-weight: bold;
    }
    .textbox{
        display: flex;
        align-items: center;
        flex-direction: column;
        height: fit-content;
    }
    .about, .education, .skills, .hobby{
        margin-block: 20px;
    }
    hr {
        border: 0;
        height: 1px;
        background: #333;
        background-image: linear-gradient(to right, #ccc, #333, #ccc);
        width: 100%;
    }
    .education ul{
        margin-left: 30px;
    }
    .float{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .hobby ul{
        margin-left: 30px;
    }
    .skills ul{
        margin-left: 30px;
    }
  }